<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto widgets</title>
    <meta name="description" content="Simple embeddable crypto widgets.">
    <link rel="stylesheet" href="./styles.css">
    <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>ðŸ“ˆ</text></svg>"
    />
    <!-- ðŸ“Ÿ ðŸ”‚ âš™ï¸ ðŸš€ -->
</head>
<body>
    <div id="particles-js"></div> 
    <div class="centeredWrapper">
        <div class="centeredContent">
            <main>
                <h1 class="title">Crypto widgets</h1>

                <div class="searchContainer" id="search">
                    <label for="searchBar">Search by ticker</label>
                    <input type="text" id="searchBar" onkeyup="search()" placeholder="BTC, ETH, AAVE, DOGE">    
                </div>

                <div id="results" class="resultsContainer">

                </div>

                <div class="widgetContainer">
                    <div id="coin">
                        <div style="width: 260px; height:169px; background-color: #1D2330; overflow:hidden; box-sizing: border-box; 
                        border: 1px solid #282E3B; border-radius: 4px; text-align: right; font-size: 12px; padding:0px 1px;">
                            <div style="padding:0px; margin:0px; width: 260px; height:150px;display: flex; place-items: center;">
                                <iframe src="http://localhost:3000/coin?name=aave" width="256px" height="150px" scrolling="auto" frameborder="0" border="0" 
                                style="border:0;margin:0;padding:0; border-radius: 5px;"></iframe>
                            </div>
                            <div>
                                <a href="https://cryptowidgets.xyz" target="_blank" style="font-weight: 500; 
                                color: #626B7F; text-decoration:none; font-family: monospace">via CryptoWidgets.xyz &nbsp;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="./main.js"></script>
</html>