<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto widgets</title>
    <meta name="description" content="Simple embeddable crypto widgets.">
    <link rel="stylesheet" href="./styles.css">
    <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>ðŸ“ˆ</text></svg>"
    />
    <!-- ðŸ“Ÿ ðŸ”‚ âš™ï¸ ðŸš€ -->
</head>
<body>
    <div id="particles-js"></div> 
    <div class="centeredWrapper">
        <div class="centeredContent">
            <main>
                <h1 class="title">Crypto widgets</h1>

                <div class="searchContainer" id="search">
                    <label for="searchBar">Search by ticker</label>
                    <input type="text" id="searchBar" onkeyup="search()" placeholder="BTC, ETH, AAVE, DOGE">    
                </div>

                <div id="results" class="resultsContainer">

                </div>

                <div class="controls">
                    <textarea name="embed" id="embedCode" cols="30" rows="8" data-gramm_editor="false" spellcheck="false" hidden></textarea>
                    <br>
                    <button id="copy" hidden>Copy embed code</button>
                </div>

                <div class="widgetContainer">
                </div>
            </main>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="./main.js"></script>
</html>