<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto widgets</title>
    <meta name="description" content="Simple embeddable crypto widgets.">
    <link rel="stylesheet" href="./styles.css">
    <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>ðŸ“ˆ</text></svg>"
    />
    <!-- ðŸ“Ÿ ðŸ”‚ âš™ï¸ ðŸš€ -->
</head>
<body>
    <div id="particles-js"></div> 
    <header>
        <h1>Crypto widgets</h1>
    </header>
    <main>
        <div class="searchContainer" id="search">
            <label for="searchBar">Search by ticker</label>
            <input type="text" id="searchBar" onkeyup="search()" placeholder="BTC, ETH, AAVE, DOGE">
            <div id="results">

            </div>
        </div>
        <div id="coins" style="margin-top: 20px">
            <div id="coin" style="max-width: 250px;">
                
            </div>
        </div>
    </main>
</body>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="./main.js"></script>
</html>