@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --width:300px;
}
body{
    font-family:  'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    color: white;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.centeredWrapper {
    position: relative;
    text-align: center;
}
.centeredWrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: middle;
}
.centeredContent {
    display: inline-block;
    vertical-align: middle;
}

canvas {
    display: block;
    vertical-align: bottom;
} 
/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #1d2037;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
}

main{
    border-radius: 1em;
    padding: 1em;
    margin-top: 15%;
}

.searchContainer {
    margin: 40px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchContainer label {
    align-self: start;
}

#searchBar{
    font-size: 16px;
    padding-left: 14px;
    margin-top: 15px;
    width: var(--width);
    height: 50px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #4801ff);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    /* Alternate colours ac32e4 7918f2 4801ff*/
    color: white;
}

#searchBar::placeholder {
    color: white;
    opacity: 1; 
}

.resultsContainer{
    position: absolute;
    z-index: 10;
    margin-left:7px;
    width: 99%;
    max-width: calc(0.99 * var(--width));
    align-self: left;
    background-color:rgba(0, 0, 0, 0.952);
    border-radius: 5px;
}

.result{
    padding: 5px 0px 5px 12px;
    margin: 3px 0px;
    border-bottom: 1.5px solid grey;
    border-width: 95%;
}

.result:last-child{
    border-bottom: none;
}

.resultsContainer, .widgetContainer{
    text-align: left; 
}

.widgetContainer{
    margin-top: 30px;
    display: inline-block;
}

/* .coin{
    position: fixed;
} */

.grid-item-1 { grid-area: g1; }
.grid-item-2 { grid-area: g2; }
.grid-item-3 { grid-area: g3; }
.grid-item-4 { grid-area: g4; }
.grid-item-5 { grid-area: g5; }
.grid-item-6 { grid-area: g6; }
.grid-item-7 { grid-area: g7; }
.grid-container{
    display: grid;
    grid-template-areas: 
    'g1 g2 g3 g3'
    'g1 g2 g4 g4'
    'g7 g7 g5 g5'
    'g6 g6 g6 g6';
    grid-gap: 10px;
}

a{
    text-decoration: none;
    color: white;
}

a:focus, input:focus{
    outline: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px){
    :root{
        --width: 250px;
    }
}