body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: #000000;
    color: white;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

main{
    border-radius: 1em;
    padding: 1em;
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)  */
}

canvas {
    display: block;
    vertical-align: bottom;
} 
/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #1d2037;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
}

.grid-item-1 { grid-area: g1; }
.grid-item-2 { grid-area: g2; }
.grid-item-3 { grid-area: g3; }
.grid-item-4 { grid-area: g4; }
.grid-item-5 { grid-area: g5; }
.grid-item-6 { grid-area: g6; }
.grid-item-7 { grid-area: g7; }
.grid-container{
    display: grid;
    grid-template-areas: 
    'g1 g2 g3 g3'
    'g1 g2 g4 g4'
    'g7 g7 g5 g5'
    'g6 g6 g6 g6';
    grid-gap: 10px;
}

td {
    font-size: 12px;
}

td span{
    font-size: 10px;
    color: gray;
}

.links, .intro{
    display: flex;
    place-content: center;
}

.links ul{
    min-width: 35%;
}

li{
    list-style: none;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(120deg, #be3c3c 0%, #02a5f6 100%);
    background-size: 100% 0em;
    background-position: 0 88%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in;
}

a:hover{
    background-size: 100% 88%;
}

a:focus{
    outline: none;
}

.links a:focus::after{
    content:"";
    /* background: linear-gradient(to right, red, purple); */
    /* background: linear-gradient(to right, #c06565 0%, #02a5f6 100%); */
    border: solid white;
    border-width: 0 4px 4px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 6px;
}

.social{
    margin-top:8px;
    font-size: 14px;
    text-align: center;
}

.social a{
    margin-right: 10px;
    min-width: 40%;
}

.social a:focus::after{
    content: "";
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: relative;
    top: 25px;
    left: -40px;
}